In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

In [1]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Using cached scikit_learn-1.5.2-cp311-cp311-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from scikit-learn) (2.1.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.14.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.5.2-cp311-cp311-win_amd64.whl (11.0 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.14.1-cp311-cp311-win_amd64.whl (44.8 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install pickle

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install streamlit

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: streamlit in c:\users\ashfa\appdata\roaming\python\python311\site-packages (1.40.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (5.4.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (2.1.3)
Requirement already satisfied: packaging<25,>=20 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (5.28.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (18.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: jinja2 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.5.2 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from altair<6,>=4.0->streamlit) (1.14.1)
Requirement already satisfied: colorama in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from requests<3,>=2.27->streamlit) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.21.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\ashfa\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
cars= pd.read_csv('C:/Users/ashfa/Desktop/car/car data.csv')
cars.head(5)

,symboling,CarName,fueltype,carbody,drivewheel,enginelocation,citympg,highwaympg,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,stroke,horsepower,peakrpm,price
0,3,alfa-romero giulia,gas,convertible,rwd,front,21,27,88.6,168.8,64.1,48.8,2548,dohc,four,130,2.68,111,5000,13495.0
1,3,alfa-romero stelvio,gas,convertible,rwd,front,21,27,88.6,168.8,64.1,48.8,2548,dohc,four,130,2.68,111,5000,16500.0
2,1,alfa-romero Quadrifoglio,gas,hatchback,rwd,front,19,26,94.5,171.2,65.5,52.4,2823,ohcv,six,152,3.47,154,5000,16500.0
3,2,audi 100 ls,gas,sedan,fwd,front,24,30,99.8,176.6,66.2,54.3,2337,ohc,four,109,3.40,102,5500,13950.0
4,2,audi 100ls,gas,sedan,4wd,front,18,22,99.4,176.6,66.4,54.3,2824,ohc,five,136,3.40,115,5500,17450.0

In [10]:
cars.shape

(205, 20)

In [11]:
#preprocessing

#checking null values

cars.isnull().sum()

symboling         0
CarName           0
fueltype          0
carbody           0
drivewheel        0
enginelocation    0
citympg           0
highwaympg        0
wheelbase         0
carlength         0
carwidth          0
carheight         0
curbweight        0
enginetype        0
cylindernumber    0
enginesize        0
stroke            0
horsepower        0
peakrpm           0
price             0
dtype: int64

In [12]:
cars.dropna(inplace=True)

In [13]:
cars.shape

(205, 20)

In [14]:
#checking duplicate values

cars.duplicated().sum()

np.int64(0)

In [15]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symboling       205 non-null    int64
 1   CarName         205 non-null    object
 2   fueltype        205 non-null    object
 3   carbody         205 non-null    object
 4   drivewheel      205 non-null    object
 5   enginelocation  205 non-null    object
 6   citympg         205 non-null    int64
 7   highwaympg      205 non-null    int64
 8   wheelbase       205 non-null    float64
 9   carlength       205 non-null    float64
 10  carwidth        205 non-null    float64
 11  carheight       205 non-null    float64
 12  curbweight      205 non-null    int64
 13  enginetype      205 non-null    object
 14  cylindernumber  205 non-null    object
 15  enginesize      205 non-null    int64
 16  stroke          205 non-null    float64
 17  horsepower      205 non-null    int64
 18  peakrpm         205 non-null    int64
 19  price           205 non-null    float64
dtypes: float64(6), int64(7), object(7)
memory usage: 32.2+ KB

In [16]:
#Data Analysis

for col in cars.columns:
  print('unique values of' + col)
  print(cars[col].unique)
  print('========================\n')

unique values ofsymboling
<bound method Series.unique of 0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64>
========================

unique values ofCarName
<bound method Series.unique of 0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
200             volvo 145e (sw)
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: CarName, Length: 205, dtype: object>
========================

unique values offueltype
<bound method Series.unique of 0         gas
1         gas
2         gas
3         gas
4         gas
        ...
200       gas
201       gas
202       gas
203    diesel
204       gas
Name: fueltype, Length: 205, dtype: object>
========================

unique values ofcarbody
<bound method Series.unique of 0      convertible
1      convertible
2        hatchback
3            sedan
4            sedan
          ...
200          sedan
201          sedan
202          sedan
203          sedan
204          sedan
Name: carbody, Length: 205, dtype: object>
========================

unique values ofdrivewheel
<bound method Series.unique of 0      rwd
1      rwd
2      rwd
3      fwd
4      4wd
      ...
200    rwd
201    rwd
202    rwd
203    rwd
204    rwd
Name: drivewheel, Length: 205, dtype: object>
========================

unique values ofenginelocation
<bound method Series.unique of 0      front
1      front
2      front
3      front
4      front
       ...
200    front
201    front
202    front
203    front
204    front
Name: enginelocation, Length: 205, dtype: object>
========================

unique values ofcitympg
<bound method Series.unique of 0      21
1      21
2      19
3      24
4      18
       ..
200    23
201    19
202    18
203    26
204    19
Name: citympg, Length: 205, dtype: int64>
========================

unique values ofhighwaympg
<bound method Series.unique of 0      27
1      27
2      26
3      30
4      22
       ..
200    28
201    25
202    23
203    27
204    25
Name: highwaympg, Length: 205, dtype: int64>
========================

unique values ofwheelbase
<bound method Series.unique of 0       88.6
1       88.6
2       94.5
3       99.8
4       99.4
       ...
200    109.1
201    109.1
202    109.1
203    109.1
204    109.1
Name: wheelbase, Length: 205, dtype: float64>
========================

unique values ofcarlength
<bound method Series.unique of 0      168.8
1      168.8
2      171.2
3      176.6
4      176.6
       ...
200    188.8
201    188.8
202    188.8
203    188.8
204    188.8
Name: carlength, Length: 205, dtype: float64>
========================

unique values ofcarwidth
<bound method Series.unique of 0      64.1
1      64.1
2      65.5
3      66.2
4      66.4
       ...
200    68.9
201    68.8
202    68.9
203    68.9
204    68.9
Name: carwidth, Length: 205, dtype: float64>
========================

unique values ofcarheight
<bound method Series.unique of 0      48.8
1      48.8
2      52.4
3      54.3
4      54.3
       ...
200    55.5
201    55.5
202    55.5
203    55.5
204    55.5
Name: carheight, Length: 205, dtype: float64>
========================

unique values ofcurbweight
<bound method Series.unique of 0      2548
1      2548
2      2823
3      2337
4      2824
       ...
200    2952
201    3049
202    3012
203    3217
204    3062
Name: curbweight, Length: 205, dtype: int64>
========================

unique values ofenginetype
<bound method Series.unique of 0      dohc
1      dohc
2      ohcv
3       ohc
4       ohc
       ...
200     ohc
201     ohc
202    ohcv
203     ohc
204     ohc
Name: enginetype, Length: 205, dtype: object>
========================

unique values ofcylindernumber
<bound method Series.unique of 0      four
1      four
2       six
3      four
4      five
       ...
200    four
201    four
202     six
203     six
204    four
Name: cylindernumber, Length: 205, dtype: object>
========================

unique values ofenginesize
<bound method Series.unique of 0      130
1      130
2      152
3      109
4      136
      ...
200    141
201    141
202    173
203    145
204    141
Name: enginesize, Length: 205, dtype: int64>
========================

unique values ofstroke
<bound method Series.unique of 0      2.68
1      2.68
2      3.47
3      3.40
4      3.40
       ...
200    3.15
201    3.15
202    2.87
203    3.40
204    3.15
Name: stroke, Length: 205, dtype: float64>
========================

unique values ofhorsepower
<bound method Series.unique of 0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: int64>
========================

unique values ofpeakrpm
<bound method Series.unique of 0      5000
1      5000
2      5000
3      5500
4      5500
       ...
200    5400
201    5300
202    5500
203    4800
204    5400
Name: peakrpm, Length: 205, dtype: int64>
========================

unique values ofprice
<bound method Series.unique of 0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64>
========================

In [17]:
def get_brand_name(car_name):
  car_name=car_name.split(' ')[0]
  return car_name.strip(' ')

In [18]:
get_brand_name('alfa-romero stelvio')

'alfa-romero'

In [19]:
cars['CarName']=cars['CarName'].apply(get_brand_name)

cars['CarName'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [20]:
cars['fueltype']=cars['fueltype'].apply(get_brand_name)

In [21]:
cars['enginetype']=cars['enginetype'].apply(get_brand_name)

In [22]:
cars['enginelocation']=cars['enginelocation'].apply(get_brand_name)

In [23]:
for col in cars.columns:
  print('unique values of' + col)
  print(cars[col].unique)
  print('========================\n')

unique values ofsymboling
<bound method Series.unique of 0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64>
========================

unique values ofCarName
<bound method Series.unique of 0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: CarName, Length: 205, dtype: object>
========================

unique values offueltype
<bound method Series.unique of 0         gas
1         gas
2         gas
3         gas
4         gas
        ...
200       gas
201       gas
202       gas
203    diesel
204       gas
Name: fueltype, Length: 205, dtype: object>
========================

unique values ofcarbody
<bound method Series.unique of 0      convertible
1      convertible
2        hatchback
3            sedan
4            sedan
          ...
200          sedan
201          sedan
202          sedan
203          sedan
204          sedan
Name: carbody, Length: 205, dtype: object>
========================

unique values ofdrivewheel
<bound method Series.unique of 0      rwd
1      rwd
2      rwd
3      fwd
4      4wd
      ...
200    rwd
201    rwd
202    rwd
203    rwd
204    rwd
Name: drivewheel, Length: 205, dtype: object>
========================

unique values ofenginelocation
<bound method Series.unique of 0      front
1      front
2      front
3      front
4      front
       ...
200    front
201    front
202    front
203    front
204    front
Name: enginelocation, Length: 205, dtype: object>
========================

unique values ofcitympg
<bound method Series.unique of 0      21
1      21
2      19
3      24
4      18
       ..
200    23
201    19
202    18
203    26
204    19
Name: citympg, Length: 205, dtype: int64>
========================

unique values ofhighwaympg
<bound method Series.unique of 0      27
1      27
2      26
3      30
4      22
       ..
200    28
201    25
202    23
203    27
204    25
Name: highwaympg, Length: 205, dtype: int64>
========================

unique values ofwheelbase
<bound method Series.unique of 0       88.6
1       88.6
2       94.5
3       99.8
4       99.4
       ...
200    109.1
201    109.1
202    109.1
203    109.1
204    109.1
Name: wheelbase, Length: 205, dtype: float64>
========================

unique values ofcarlength
<bound method Series.unique of 0      168.8
1      168.8
2      171.2
3      176.6
4      176.6
       ...
200    188.8
201    188.8
202    188.8
203    188.8
204    188.8
Name: carlength, Length: 205, dtype: float64>
========================

unique values ofcarwidth
<bound method Series.unique of 0      64.1
1      64.1
2      65.5
3      66.2
4      66.4
       ...
200    68.9
201    68.8
202    68.9
203    68.9
204    68.9
Name: carwidth, Length: 205, dtype: float64>
========================

unique values ofcarheight
<bound method Series.unique of 0      48.8
1      48.8
2      52.4
3      54.3
4      54.3
       ...
200    55.5
201    55.5
202    55.5
203    55.5
204    55.5
Name: carheight, Length: 205, dtype: float64>
========================

unique values ofcurbweight
<bound method Series.unique of 0      2548
1      2548
2      2823
3      2337
4      2824
       ...
200    2952
201    3049
202    3012
203    3217
204    3062
Name: curbweight, Length: 205, dtype: int64>
========================

unique values ofenginetype
<bound method Series.unique of 0      dohc
1      dohc
2      ohcv
3       ohc
4       ohc
       ...
200     ohc
201     ohc
202    ohcv
203     ohc
204     ohc
Name: enginetype, Length: 205, dtype: object>
========================

unique values ofcylindernumber
<bound method Series.unique of 0      four
1      four
2       six
3      four
4      five
       ...
200    four
201    four
202     six
203     six
204    four
Name: cylindernumber, Length: 205, dtype: object>
========================

unique values ofenginesize
<bound method Series.unique of 0      130
1      130
2      152
3      109
4      136
      ...
200    141
201    141
202    173
203    145
204    141
Name: enginesize, Length: 205, dtype: int64>
========================

unique values ofstroke
<bound method Series.unique of 0      2.68
1      2.68
2      3.47
3      3.40
4      3.40
       ...
200    3.15
201    3.15
202    2.87
203    3.40
204    3.15
Name: stroke, Length: 205, dtype: float64>
========================

unique values ofhorsepower
<bound method Series.unique of 0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: int64>
========================

unique values ofpeakrpm
<bound method Series.unique of 0      5000
1      5000
2      5000
3      5500
4      5500
       ...
200    5400
201    5300
202    5500
203    4800
204    5400
Name: peakrpm, Length: 205, dtype: int64>
========================

unique values ofprice
<bound method Series.unique of 0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64>
========================

In [24]:
cars['CarName'].replace(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'],
                       [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28], inplace=True)

C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\1183083333.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['CarName'].replace(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\1183083333.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['CarName'].replace(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',

In [25]:
cars['fueltype'].unique()

array(['gas', 'diesel'], dtype=object)

In [26]:
cars['fueltype'].replace(['gas', 'diesel'], [1,2], inplace=True)

C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\1207601341.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['fueltype'].replace(['gas', 'diesel'], [1,2], inplace=True)
C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\1207601341.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['fueltype'].replace(['gas', 'diesel'], [1,2], inplace=True)

In [27]:
cars['carbody'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [28]:
cars['carbody'].replace(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
                          [1,2,3,4,5], inplace=True)

C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\3672726112.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['carbody'].replace(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\3672726112.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['carbody'].replace(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],

In [29]:
cars['drivewheel'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [30]:
cars['drivewheel'].replace(['rwd', 'fwd', '4wd'],
                          [1,2,3], inplace=True)

C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\1957798917.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['drivewheel'].replace(['rwd', 'fwd', '4wd'],
C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\1957798917.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['drivewheel'].replace(['rwd', 'fwd', '4wd'],

In [31]:
cars['enginelocation'].unique()

array(['front', 'rear'], dtype=object)

In [32]:
cars['enginelocation'].replace(['front', 'rear'],
                          [1,2], inplace=True)

C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\196713299.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['enginelocation'].replace(['front', 'rear'],
C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\196713299.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['enginelocation'].replace(['front', 'rear'],

In [33]:
cars['enginetype'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [34]:
cars['enginetype'].replace(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'],
                          [1,2,3,4,5,6,7], inplace=True)

C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\411221345.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['enginetype'].replace(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'],
C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\411221345.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['enginetype'].replace(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'],

In [35]:
cars['cylindernumber'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [36]:
cars['cylindernumber'].replace(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
                          [4,6,5,3,12,2,8], inplace=True)

C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\2455539750.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['cylindernumber'].replace(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
C:\Users\ashfa\AppData\Local\Temp\ipykernel_11016\2455539750.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['cylindernumber'].replace(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],

In [37]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symboling       205 non-null    int64
 1   CarName         205 non-null    int64
 2   fueltype        205 non-null    int64
 3   carbody         205 non-null    int64
 4   drivewheel      205 non-null    int64
 5   enginelocation  205 non-null    int64
 6   citympg         205 non-null    int64
 7   highwaympg      205 non-null    int64
 8   wheelbase       205 non-null    float64
 9   carlength       205 non-null    float64
 10  carwidth        205 non-null    float64
 11  carheight       205 non-null    float64
 12  curbweight      205 non-null    int64
 13  enginetype      205 non-null    int64
 14  cylindernumber  205 non-null    int64
 15  enginesize      205 non-null    int64
 16  stroke          205 non-null    float64
 17  horsepower      205 non-null    int64
 18  peakrpm         205 non-null    int64
 19  price           205 non-null    float64
dtypes: float64(6), int64(14)
memory usage: 32.2 KB

In [38]:
cars.reset_index(inplace=True)

In [39]:
cars.drop(columns=['index'], inplace=True)

In [40]:
cars

,symboling,CarName,fueltype,carbody,drivewheel,enginelocation,citympg,highwaympg,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,stroke,horsepower,peakrpm,price
0,3,1,1,1,1,1,21,27,88.6,168.8,64.1,48.8,2548,1,4,130,2.68,111,5000,13495.0
1,3,1,1,1,1,1,21,27,88.6,168.8,64.1,48.8,2548,1,4,130,2.68,111,5000,16500.0
2,1,1,1,2,1,1,19,26,94.5,171.2,65.5,52.4,2823,2,6,152,3.47,154,5000,16500.0
3,2,2,1,3,2,1,24,30,99.8,176.6,66.2,54.3,2337,3,4,109,3.40,102,5500,13950.0
4,2,2,1,3,3,1,18,22,99.4,176.6,66.4,54.3,2824,3,5,136,3.40,115,5500,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,28,1,3,1,1,23,28,109.1,188.8,68.9,55.5,2952,3,4,141,3.15,114,5400,16845.0
201,-1,28,1,3,1,1,19,25,109.1,188.8,68.8,55.5,3049,3,4,141,3.15,160,5300,19045.0
202,-1,28,1,3,1,1,18,23,109.1,188.8,68.9,55.5,3012,2,6,173,2.87,134,5500,21485.0
203,-1,28,2,3,1,1,26,27,109.1,188.8,68.9,55.5,3217,3,6,145,3.40,106,4800,22470.0
204,-1,28,1,3,1,1,19,25,109.1,188.8,68.9,55.5,3062,3,4,141,3.15,114,5400,22625.0

In [41]:
input=cars.drop(columns=['price'])
output=cars['price']

In [42]:
x_train, x_test, y_train, y_test = train_test_split(input, output, test_size=0.2)

In [43]:
#creating the model

model= LinearRegression()

In [44]:
#train the model

model.fit(x_train, y_train)

LinearRegression()

In [45]:
predict= model.predict(x_test)
predict

array([11213.04069457, 13378.03395738,  6473.6494427 , 19782.72401394,
        6330.35590578, 15177.1019858 ,  9147.65511018,  7496.22005749,
       20782.03480395, 19107.7433091 ,  8067.96085371, 17307.15849178,
        7989.00725196,  8065.3492776 , 11412.84116886,  5350.72121829,
       18003.63682312, 10793.41105495,  3555.51199765,  6782.74236883,
        7756.22382549, 10099.71989766,  7007.74739475,  7064.87486002,
        5442.29672218, 16296.25768751, 11926.0332302 , 17491.6504432 ,
        6431.20486427,  5270.44218204, 26392.24624808,  7902.85307828,
       16694.59213023, 21221.87042615, 12747.58713487, 21379.61261018,
       17489.26132053, 11338.28650597, 27061.31828034, 17393.6350101 ,
        5864.77895521])

In [46]:
x_train.head(1)

,symboling,CarName,fueltype,carbody,drivewheel,enginelocation,citympg,highwaympg,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,stroke,horsepower,peakrpm
141,0,22,1,3,2,1,32,37,97.2,172.0,65.4,52.5,2145,6,4,108,2.64,82,4800

In [47]:
input_data_model= pd.DataFrame(
    [[1,	5,	1,	2,	2,	1,	24,	30,	93.7,	157.3,	63.8,	50.8,	2128,	3,	4,	98,	3.39,	102,	5500,]],
    columns=['symboling',	'CarName', 'fueltype',	'carbody',	'drivewheel',	'enginelocation',	'citympg',	'highwaympg',
             'wheelbase',	'carlength', 'carwidth',	'carheight',	'curbweight',	'enginetype',	'cylindernumber',	'enginesize',	'stroke',	'horsepower',
             'peakrpm']
)

In [48]:
input_data_model

,symboling,CarName,fueltype,carbody,drivewheel,enginelocation,citympg,highwaympg,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,stroke,horsepower,peakrpm
0,1,5,1,2,2,1,24,30,93.7,157.3,63.8,50.8,2128,3,4,98,3.39,102,5500

In [49]:
model.predict(input_data_model)

array([9311.68438414])

In [50]:
import pickle as pk

In [51]:
pk.dump(model,open('model.pk1', 'wb'))